@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

nav a {
  margin-right: 2rem;
}
a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #222;
  box-shadow: 0px -4px 0px #fe019a inset;
  text-decoration: none;
}

a:hover {
  box-shadow: 0px -4px 0px #39ff14 inset;
}
body {
  padding: 4.5rem;
  margin: 0;
  color: #222;
}

header {
  background: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid #222;
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 5px grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}

h1 {
  font-size: 4.6rem;
  margin-bottom: 0;
  color: #fe019a;
}

h2 {
  margin-bottom: 0;
  margin-left: 1.2em;
}
h1,
h2 {
  font-family: 'Anton', sans-serif;
}

#tech-skills li {
  list-style: none;
  display: inline-block;
  margin-right: 1rem;
}

section {
  background: rgba(255, 255, 255, 0.7);
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;
  box-shadow: 5px 5px 5px grey;
  border: 2px solid #222;
}

p {
  font-size: 1.2rem;
}
#contact-methods a {
  margin-right: 1em;
  color: #222;
  font-weight: 600;
}

/* .project h4 {
  margin-top: 0;
}

.project h4:nth-child(3) {
  margin-top: 0;
  margin-bottom: 0;
} */
/* .project p {
  margin-top: 0;
}

.project h3 {
  margin-bottom: 0;
} */

.card {
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #222;
  margin: 1rem;
  padding: 1.4rem 0.8rem;
  box-shadow: 5px 5px 5px grey;
}

#intro {
  margin: 1.2rem;
}
ul {
  list-style: none;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 1rem;
  }
}
