@import '../node_modules/modern-normalize/modern-normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Montserrat&display=swap');

nav a {
  font-size: 1.2rem;
  color: #333;
  margin-right: 2rem;
  font-weight: 600;
}

nav {
}

body {
  padding: 4.5rem;
  margin: 0;
  background: #edc0bf;
  background: linear-gradient(90deg, #edc0bf 0, #c4caef 58%);
  color: #222;
}

header {
  background: rgba(255, 255, 255, 0.7);
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;

  box-shadow: 5px 5px 5px grey;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
}
h1 {
  font-size: 72px;
  margin-bottom: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 2em;
  margin-left: 1.2em;
}
h1,
h2 {
  font-family: 'Anton', sans-serif;
}

#tech-skills li {
  list-style: none;
  display: inline;
  margin-right: 1rem;
}

section {
  background: rgba(255, 255, 255, 0.7);
  padding: 1.2rem 2rem;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px grey;
}

#contact-methods a {
  margin-right: 1em;
  color: #222;
  font-weight: 600;
}
